extends layout

block content
  h1= title
  p Welcome to #{title}
  br
  h4 Click on a username to view their profile:
  ul
    each profile in users
      li
        a(href='/'+profile.username)= profile.username
  br
  each profile in users
    if profile.username == pathUsername
      if user
        if profile.username == user.username
          h3 Your Profile Details: #{user.username}
          ul
            li Name: #{profile.name}
            li Username: #{profile.username}
            li Email: #{profile.email}
          p Enter a message:
          form(method='post' action='/'+user.username})
            fieldset
              legend Message:
              p
                textarea(name="message[content]")
      input(type="submit")
          h3 Known rumors:
          each message in profile.messages
            p #{message.Rumor.Text}
        else
          h3 Basic profile for #{profile.username}
          ul
            li Name: #{profile.username}
          h3 Known rumors:
          each message in profile.messages
            p #{message.Rumor.Text}   
      else
        h3 Basic profile for #{profile.username}
        ul
          li Name: #{profile.username}
        h3 Known rumors:
        each message in profile.messages
          p #{message.Rumor.Text}
  br
  include login